/*--| Font setup |--*/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,400&display=swap');

/*--| variables setup |--*/
:root {
  --primary: #F2994B;
  --primary-dark: #df773b;
  --black: #18181a;
  --gray-1: #788190;
  --gray-2: #d3d4db;
  --purple: #A977F0;
  --purple-dark: #8457e4;
  --white: #f5f5f5;
  --btn-transition: .15s;
  --btn-scale: 1.025;

}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: var(--white);
}

/*--| Setup components |--*/

/* Scrool bar */
body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--primary);

}

/* HTML */
html {
  scroll-behavior: smooth;
}
/* buttons */

.btn {
  border-radius: 8px;
}

.btn-primary, .btn-outline-secondary, .btn-outline-dark{
  padding: 12px 28px;
}

.btn-primary {
  background-color: var(--primary)!important;
  border: none;
}
.btn-primary:hover {
  background-color: var(--primary-dark)!important;
  transition: var(--btn-transition);
  transform: scale(var(--btn-scale));

}

.btn-outline-secondary{ 
  background-color: var(--purple)!important;
  color: var(--white);
  border: none;

}

.btn-outline-dark{ 
  border: 1px solid var(--gray-2);
  color: var(--black);
}

.btn-outline-secondary:hover{ 
  background-color: var(--purple-dark)!important;
  transition: var(--btn-transition);
  transform: scale(var(--btn-scale));

}

.btn-outline-secondary:focus{ 
  background-color: var(--purple-dark);
}

/*--| Animations |--*/

.editorial {
  width: 100%;
  height: 30px;
  max-height: 50px;
  z-index: 5;
  bottom: 0;
  left: 0px;
  position: sticky;

}
.parallax1 > use {
  animation: move-forever1 10s linear infinite;
}
.parallax1 > use:nth-child(1) {
  animation-delay: -2s;
}
.parallax2 > use {
  animation: move-forever2 8s linear infinite;
}
.parallax2 > use:nth-child(1) {
  animation-delay: -2s;
}
.parallax3 > use {
  animation: move-forever3 6s linear infinite;
}
.parallax3 > use:nth-child(1) {
  animation-delay: -2s;
}
.parallax4 > use {
  animation: move-forever4 4s linear infinite;
}
.parallax4 > use:nth-child(1) {
  animation-delay: -2s;
}
@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
 }
  100% {
    transform: translate(-90px, 0%);
 }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
 }
  100% {
    transform: translate(85px, 0%);
 }
}
@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
 }
  100% {
    transform: translate(-90px, 0%);
 }
}
@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
 }
  100% {
    transform: translate(85px, 0%);
 }
}


/*--| Navbar |--*/
.navbar {
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar .btn-outline-dark {
  border: 1px solid var(--gray-2);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 16px;
}

.navbar {
  padding: 32px 0;
}

.navbar-collapse .nav-link {
  margin-left: 41px;
  font-size: 16px;
  color: var(--gray-1);
}

.navbar-collapse .nav-link:hover {
  transition: var(--btn-transition) ;
  color: var(--black);
}

.navbar-nav .nav-link.active {
  font-weight: bold;
  color: var();
}

/*--| Hero section |--*/

section.hero {
  padding: 20px 0px 50px 0px;
}

section.hero .text {
  font-weight: 800;
  font-size: 51px;
  line-height: 73px;
  color: var(--black);
}

.buttons {
  padding-top: 45px;
}

.buttons .btn {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

/*--| Setup section |--*/

section.setup {
  padding: 50px 0;
}

section.setup .text-header h3 {
  font-size: 42px;
  font-weight: 700;
  line-height: 48px;
  color: var(--black);
}

section.setup .text-header p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: var(--gray-1);
  padding: 15px 0;
}

section.setup .icons {
  padding: 20px 0;
}

section.setup h5{
  font-size: 25x;
  font-weight: 700;
  line-height: 24px;
  color: var(--black);
}

section.setup .desc p{
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: var(--gray-1);
  max-width: 284px;
  margin: 0 auto;
}

/*--| Information section |--*/
section.information .text-information{
  padding: 70px 0;
}

section.information .info-1 .text-information{
  padding: 70px 0 0 0;
}


section.information h5{
  font-size: 50px;
  font-weight: 700;
  line-height: 58px;
  color: var(--black);
}

section.information p{
  font-size: 24px;
  font-weight: 300;
  line-height: 35px;
  color: var(--gray-1);
  padding-top: 20px;
}


/*--| Footer section |--*/

footer{
  padding: 0 20px;
}

footer .icons a i{
  font-size: 40px;
  color: var(--gray-1);
}

footer .icons a i:hover{
  transition: var(--btn-transition);
  color: var(--gray-2);
}

/*--| Pricing section |--*/
section.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(175, 106, 2, 0.1);
}

section.pricing hr {
  margin: 2rem 0;
}

section.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

section.pricing .card-price {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
  color: var(--black);
}

section.pricing .card-price .period {
  font-size: 0.9rem;
}

section.pricing ul li {
  margin-bottom: 1rem;
}

section.pricing .text-muted {
  opacity: 0.6;
}

section.pricing .btn {
  font-size: 14px;
  font-weight: 500;
  padding: 1rem;
  transition: all 0.2s;
}


/*--| Responsive section |--*/
@media (max-width: 991px){
  /*--| Navbar |--*/
   .navbar-nav{
      margin-top: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
   }
   .navbar-collapse .nav-link {
      margin-left: 0px!important;
      margin-right: 0px!important;
      text-align: center;
      font-size: 17px;
 
   }
 
   .navbar .btn-outline-dark {
      font-weight: 600;
      font-size: 17px;
      padding: 15px 30px;
      margin-top: 13px;
   }
 
 
   /*--| Hero section |--*/
   section.hero img{
     padding-top: 2.5rem;
   }
 
   section.hero .text{
     font-weight: 800;
     font-size: 40px;
     line-height: 53px;
 
   }
   .buttons .btn{
     width: 100%;
     display: block;
     margin: 1rem 0;
   }
 
   .buttons .ms-3{
     margin-left: 0!important;
   }

   /*--| Section information |--*/

  section.information .text-information{
    padding: 0;
  }

  section.information .left{
    padding-bottom: 100px!important;
  }
  
  /* Hover Effects on Card */
  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }
 
 }

@media (max-width: 576px){

  /*--| Navbar |--*/
  .navbar  {
    padding: 20px 0px;
  }

  .nav-link {
    margin-left: 0px;
  }

  .navbar-nav .nav-link.active {
    font-weight: bold;
    color: var();
  }
  /*--| Sections |--*/
  section.hero, section.setup, section.information{
    text-align: center;
  }

  /*--| Hero section |--*/
  section.hero img{
    padding-top: 2.5rem;
  }

  section.hero .text{
    font-weight: 800;
    font-size: 38px;
    line-height: 53px;

  }
  .buttons .btn{
    width: 100%;
    display: block;
    margin: 1rem 0;
  }

  .buttons .ms-3{
    margin-left: 0!important;
  }

  /*--| Setup section |--*/
  section.setup {
    padding: 50px 0;
  }

  section.setup .text-header h3 {
    font-size: 42px;
    font-weight: 700;
    line-height: 48px;
    color: var(--black);
  }

  section.setup .text-header p {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: var(--gray-1);
    padding: 27px 0;
  }
  /*--| Princing section |--*/
  section.pricing {
    padding: 20px;
  }
  /*--| Information section |--*/

  section.information .info-1 {
    padding: 30px 0;
  }

  section.information h5{
    font-size: 35px;
    font-weight: 700;
    line-height: 35px;
    color: var(--black);
  }

  section.information p{
    padding: 10px 15px;
    text-align: justify;
    font-size: 17px;
    font-weight: 300;
    line-height: 35px;
    color: var(--gray-1);
  }


  /*--| Footer section |--*/

  footer{
    padding-top: 50px;
  }

  footer a{
    font-weight: bold;
    font-size: 14px;
    color: var(--black);
    line-height: 18px;
  }

  footer .copy{
    margin-top: 32px;
    font-size: 14px;
    color: var(--gray-1);
    line-height: 17px;
    font-weight: 400;
  }
}
