/*--| Font setup |--*/
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,400&display=swap');

/*--| Color setup |--*/
:root {
  --primary: #F2994B;
  --primary-dark: #df773b;
  --black: #18181a;
  --gray-1: #788190;
  --gray-2: #d3d4db;
  --purple: #BA7FE9;
  --purple-dark: #9E75F5;
  --white: #f5f5f5;

}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  background-color: var(--white);
}

/*--| Setup components |--*/

/* buttons */

.btn {
  border-radius: 8px;
}

.btn-primary, .btn-outline-secondary, .btn-outline-dark{
  padding: 12px 28px;
}

.btn-primary {
  background-color: var(--primary);
  border: none;
}
.btn-primary:hover {
  background-color: var(--primary-dark);
}

.btn-outline-secondary{ 
  border: 1px solid var(--gray-2);
  color: var(--black);
}

.btn-outline-dark{ 
  border: 1px solid var(--gray-2);
  color: var(--black);
}

.btn-outline-secondary:hover{ 
  background-color: var(--gray-2);
  border: 1px solid var(--gray-2);
  color: var(--black);
}

.btn-outline-secondary:focus{ 
  background-color: var(--gray-2);
  border: 1px solid var(--gray-2);
  color: var(--black);
}

/*--| Navbar |--*/

.navbar .btn-outline-dark {
  border: 1px solid var(--gray-2);
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 16px;
}

.navbar {
  padding: 32px 0;
}

.nav-link {
  margin-left: 41px;
  font-size: 16px;
  color: var(--gray-1);
}

.navbar-nav .nav-link.active {
  font-weight: bold;
  color: var();
}

/*--| Hero section |--*/

section.hero{
  padding: 80px 0px;
}

section.hero .text{
  font-weight: 800;
  font-size: 51px;
  line-height: 73px;
  color: var(--black);
}

.buttons{
  padding-top: 45px;
}

.buttons .btn{
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
}

